.footer {
    margin: auto;
    width: auto;
    height: 5em;
    background-color: #1B4965;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: auto;
        text-align: center;
        font-weight: bold;
        color: #CAE9FF;

        a{
            text-decoration: none;
            color: #5FA8D3;
        }
    }
}

.nav {
    background-color: #1B4965 !important;
    a {
        color: #62B6CB;
        font-weight: bold;
    }

    .button:hover {
        background-color: #5FA8D3;
        color: white;
    }
    .button {
        border-color: #5FA8D3;
    }
}