<div class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-light bg-light nav">
    <div class="container-fluid">
      <a class="navbar-brand">FANDIT Movies</a>
      <form class="d-flex">
        <input matInput class="form-control me-2" type="search" placeholder="Película">
        <button matSuffix class="btn btn-outline-light button" type="submit">Buscar</button>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="mt-auto">
    <div class="footer">
      <p>Creado por <a href="https://github.com/ainaraRT" target="_blank">Ainara Ramos Toledo</a> para FANDIT</p>
    </div>
  </footer>
</div>
